#root {
  max-width: 100%;
  padding: 0;
  top: 0;
  margin: 0 0 0 2em;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.inner-container {
  text-align: center;
}

.container p {
  margin-top: 0;
  margin-bottom: 0;
}

.filters {
  display: flex;
  flex-direction: row;
}

.alpha {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  background-color: rgb(238, 238, 238);
  margin-top: 0;
}

.alpha input {
  margin-top: -44px;
}

.filters {
  gap: 1rem;
  text-align: left;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 1px 0px;
}

.categories {
  padding: 0.5rem 1rem;
  background-color: rgb(238, 238, 238);
}

.cards {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.cards-header {
  display: flex;
  flex-direction: row;
}

.cards-header img {
  width: 10rem;
  height: 100%;
}