#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.alpha {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
}